/.idea
/node_modules
/public/hot
/public/storage
/public/packages
/public/sitemap.xml
/storage/*.key
/vendor
/laradock-folk
/packages
public/uploads/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.phpstorm.meta.php
/draft.yaml
/.blueprint
public/git-deploy-master/
/.docker
docker-compose.yml
