{{- $remoteIp := env.Getenv "REMOTE_IP" -}}
{{- $remotePort := env.Getenv "REMOTE_PORT" "22" -}}
{{- $remoteUser := env.Getenv "REMOTE_USER" "root" -}}
{{- $proxyIp := env.Getenv "REMOTE_PROXY_IP" -}}
{{- $proxyPort := env.Getenv "REMOTE_PROXY_PORT" "22" -}}
{{- $proxyUser := env.Getenv "REMOTE_PROXY_USER" $remoteUser -}}
{{- if ne $proxyIp "" -}}
ssh-keyscan -p {{ $proxyPort }} {{ $proxyIp }}
ssh proxy ssh-keyscan -p {{ $remotePort }} {{ $remoteIp }}
{{- else -}}
ssh-keyscan -p {{ $remotePort }} {{ $remoteIp }}
{{- end }}
